body {
  background-color: #ffb400;
  font-family: "Inter", serif;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.first-section {
  width: 305px;
  text-align: center;
  box-sizing: border-box;
  margin: 20px 20px;
}
.first-section,
.second-section,
.third-section {
  background-color: white;
}

.container .first-section .avatar img {
  border-radius: 70%;
  width: 100px;
}
.container .first-section .full-name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 31px;
}
.container .first-section .title {
  width: 150px;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}
.social-linkes {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.social-linkes .github,
.social-linkes .x,
.social-linkes .linkedin {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #ffb400;
  border-radius: 55px;
  margin: 5px;
  cursor: pointer;
}
.social-linkes .github .github-image {
  width: 14px;
  height: 14px;
}
.social-linkes .x .x-image {
  width: 14px;
  height: 14px;
}
.social-linkes .linkedin .linkedin-image {
  width: 14px;
  height: 14px;
}
.first-section .info .about {
  background-color: #ffb400;
  padding: 5px;
}
.first-section .info .info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.first-section .info .info-item:nth-child(3) .value {
  color: green;
}
.first-section progress {
  border-radius: 7px;
  width: 100%;
  height: 20px;
}
.first-section progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #ffb400;
}
.first-section progress::-webkit-progress-value {
  background-color: #ffb400;
  border-radius: 30px;
}
.first-section .languages .languages-title {
  text-align: left;
  font-weight: 500;
}
.first-section .languages .languages-item .languages-items-item {
  display: flex;
  justify-content: space-between;
}
.first-section .skills .skills-title {
  text-align: left;
  font-weight: 500;
}
.first-section .skills .skills-item .skills-items-item {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}
.first-section .extra-skills .extra-skills-title {
  text-align: left;
  font-weight: 500;
}
.first-section .extra-skills .extra-skill {
}
.first-section .extra-skills .extra-skill .extra-skills-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("/img/extra-skills-icon.svg");
}
.first-section .button {
  background-color: #ffb400;
  width: 220px;
  height: 40px;
  border: 0;
}
.first-section .button .button-img {
  display: inline-block;
  width: 14px;
  height: 16px;
  background-image: url("/img/download-cv-icon.svg");
}
.second-section {
  width: 970px;
}
.second-section .bg-elem {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}
.second-section .banner {
  height: 467px;
  width: 970px;
  position: relative;
  border: 1px solid red;
}
.second-section .banner .bg-elem.one {
  background-image: url("/img/ellipse-1-bg.svg");
  position: absolute;
  top: 30px;
  left: 40px;
}
.second-section .banner .bg-elem.two {
  background-image: url("/img/ellipse-2-bg.svg");
  position: absolute;
  top: 422px;
  left: 88px;
}
.second-section .banner .bg-elem.three {
  background-image: url("./img/rectangle-1-bg.svg");
  position: absolute;
  top: 333px;
  left: 373px;
}
.second-section .banner .bg-elem.four {
  background-image: url("./img/ellipse-2-bg.svg");
  position: absolute;
  top: 52px;
  left: 520px;
}
.second-section .banner .bg-elem.five {
  background-image: url("./img/ellipse-1-bg.svg");
  position: absolute;
  top: 380px;
  left: 550px;
}
.second-section .banner .bg-elem.six {
  background-image: url("./img/rectangle-2-bg.svg");
  position: absolute;
  top: 70px;
  left: 855px;
}
.second-section .banner .bg-elem.seven {
  background-image: url("./img/polygon-1-bg.svg");
  position: absolute;
  top: 427px;
  left: 921px;
}
.second-section .banner .banner-h1 {
  font-size: 48px;
  line-height: 59px;
  margin-top: 93px;
  margin-left: 60px;
}
.second-section .banner .banner-h1 .col-yellow {
  color: #ffb400;
}
.second-section .banner .banner-h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;
  margin-left: 60px;
  font-weight: 400;
  color: #767676;
  width: 424px;
}
.second-section .banner .banner-button {
  background-color: #ffb400;
  color: #2b2b2b;
  width: 153px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 60px;
}
.second-section .banner .banner-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 325x;
  height: 469px;
}
.second-section .education-container {
  justify-content: center;
  margin-top: 50px;
}

.third-section {
  width: 108px;
}
