body {
  background-color: #ffb400;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: row;
}
.first,
.second,
.third {
  display: flex;
}
.first {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 20px;
  flex: 4;
}
.first,
.second,
.third {
  border: 1px solid black;
}
.first {
  flex: 0.5;
}
.second {
  flex: 4;
}

.third {
  flex: 0.5;
}
.container .first .avatar img {
  border-radius: 70%;
  width: 100px;
}
.full-name {
  font-weight: bold;
}
.social-linkes {
  display: flex;
}
.social-linkes .github .github-image {
  width: 14px;
  height: 14px;
  background-color: #ffb400;
}
.social-linkes .x .x-image {
  width: 14px;
  height: 14px;
  background-color: #ffb400;
}
.social-linkes .linkedin .linkedin-image {
  background-color: #ffb400;
  width: 14px;
  height: 14px;
}
.first .info .about {
  background-color: #ffb400;
}
.first .info .info-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.first .languages .languages-item {
  display: flexbox;
  justify-content: space-between;
}
.first .languages .languages-item .languages-items-item {
  display: flex;
  justify-content: space-between;
}
.first .programming-languages .programming-languages-item {
  display: flexbox;
  justify-content: space-between;
}
